@tailwind base;
@layer base {
  html {
    @apply bg-zinc-800 text-white;
  }
  h1 {
    @apply my-4 font-futura text-4xl font-bold uppercase;
  }
  h3 {
    @apply my-4 font-futura text-2xl font-bold;
  }
  p {
    @apply my-4;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(202, 202, 202);
    border: 1px solid #ccc;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888888;
    border: 1px solid #353535;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'jost-bold';
  src: url('./assets/Fonts/Jost-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'jost';
  src: url('./assets/Fonts/Jost-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'jost-light';
  src: url('./assets/Fonts/Jost-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url('./assets/Fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu-light';
  src: url('./assets/Fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu-bold';
  src: url('./assets/Fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
